@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Moneygraphy-Rounded";
  src: url("/assets/fonts/Moneygraphy-Rounded.woff2") format("woff2"),
    url("/assets/fonts/Moneygraphy-Rounded.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Moneygraphy-Rounded", Arial, Helvetica, sans-serif;
}

/* 코드 블록 스타일링 */
pre > code {
  counter-reset: line;
  display: grid;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1.5rem;
  margin-right: 1.5rem;
  text-align: right;
  color: #666;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}
